form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px; /* Adjust max-width as per your design */
  margin: 10% auto; /* Centers the form horizontally */
}

input[type=text], input[type=number] , textarea, select {
    width: 500px;
    padding: 10px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }
    
   #mybtn {
      width: 200px;
      background-color: #4CAF50;
      text-align: center;
      color: white;
      padding: 14px 20px;
      margin: 9px 20%;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    div {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
    }
  
  