<!-- @if (allReviews.length > 0) {
<div>
  <h3>Reviews:</h3>
  <ul>
    @for (review of allReviews; track $index) {

    <li>
      <div class="review-item">
        <p><strong>User:</strong> {{ review.username }}</p>
        <p><strong>Date:</strong> {{ review.date | date:'medium' }}</p>
        <p><strong>Text:</strong> {{ review.text }}</p>
        <p><strong>Stars:</strong> {{ review.stars }}</p>
      </div>
      <hr>
    </li>

    }
  </ul>
</div>
}

<form #reviewForm="ngForm">
  <div class="form-group">
    <label for="text">Review</label>
    <input id="text" [(ngModel)]="review.text" name="text" class="form-control" required #text="ngModel">
    <button (click)="addReview()" [disabled]="!text.valid || !review.text.trim()">Add Review</button>
  </div>
</form> -->


@if (allReviews.length > 0) {

<div class="mb-5">
  <h2 class="mb-4">Reviews</h2>

  @for (review of allReviews; track $index) {
  <a class="d-flex align-items-center text-decoration-none mb-4" href="">

    <img class="rounded" [src]="'assets/img/' + review.picture" alt="" style="width: 50px; height: 50px;">
    <div class="pl-3">
      <h6>{{review.text}}</h6>
      <div class="d-flex">
        <small class="text-body mr-3"><i class="fa fa-user text-primary mr-2"></i>{{review.username}}</small>
        <small class="text-body"><i class="fa fa-star text-primary mr-2"></i>{{review.stars}}</small>
      </div>
    </div>
  </a>
  }
</div>
}

@if (isCourseBought) {
  <form #reviewForm="ngForm" class="mt-4">
    <div class="form-group">
      <label for="text">Review</label>
      <textarea id="text" [(ngModel)]="review.text" name="text" class="form-control" rows="3" required #text="ngModel"></textarea>
    </div>
    <button (click)="addReview()" class="btn btn-primary mt-2" [disabled]="!text.valid || !review.text.trim()">Add Review</button>
  </form>
}
