<div class="container mt-4" *ngIf="course">
    <div class="row">
      <div class="col-lg-8">
        <div class="card">
          <img class="card-img-top" [src]="'assets/Courses/' + course.thumbnail" alt="Course Thumbnail"> 
          <div class="card-body">
            <h2 class="card-title">{{ course.name }}</h2>
            <p class="card-text">{{ course.description }}</p>
            <ul class="list-group mb-3">
              <li class="list-group-item"><strong>Category:</strong> {{ course.categoryId }}</li>
              <li class="list-group-item"><strong>Language:</strong> {{ course.language }}</li>
              <li class="list-group-item"><strong>Duration:</strong> {{ course.duration }} hours</li>
              <li class="list-group-item"><strong>Price:</strong> ${{ course.price }}</li>
              <li class="list-group-item"><strong>Instructor:</strong> {{ course.instructorId }}</li>
              <li class="list-group-item"><strong>Uploaded:</strong> {{ course.uploadDate }}</li>
            </ul>
            <a href="#" class="btn btn-primary">Enroll Now</a>
            <app-rateandreview [id]="courseId"></app-rateandreview>
          </div>
        </div>
      </div>
    </div>
  </div>
  