<!-- src/app/course-main-page/course-main-page.component.html -->

<div *ngIf="course" class="container mt-5">
  <div class="row">
    <div class="col-lg-8">
      <div class="card shadow-sm">
        <img class="card-img-top img-fluid" [src]="'assets/Courses/' + course.thumbnail" alt="Course Thumbnail">
        <div class="card-body">
          <h2 class="card-title display-5">{{ course.name }}</h2>
          <p class="card-text lead">{{ course.description }}</p>
          <ul class="list-group list-group-flush mb-3">
            <li class="list-group-item"><strong>Category:</strong> {{ course.category }}</li>
            <li class="list-group-item"><strong>Language:</strong> {{ course.language }}</li>
            <li class="list-group-item"><strong>Duration:</strong> {{ course.duration }} hours</li>
            <li class="list-group-item"><strong>Price:</strong> ${{ course.price }}</li>
            <li class="list-group-item"><strong>Instructor:</strong> {{ course.instructor }}</li>
            <li class="list-group-item"><strong>Uploaded:</strong> {{ course.uploadDate }}</li>
          </ul>
          <div class="d-flex flex-column align-items-start mt-4">
            <button class="btn btn-outline-primary mb-3 btn-lg" (click)="addToWishlist(course.id)">Add to
              Wishlist</button>
            <app-enroll [id]="courseId" class="mb-3"></app-enroll>
            <app-rateandreview [id]="courseId"></app-rateandreview>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>