input[type=text], input[type=number] , textarea, select {
    width: 500px;
    padding: 10px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }
    
   #mybtn {
      width: 200px;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    .error-message {
      color: red;
      font-size: 0.875em; /* optional: makes the error text a bit smaller */
      margin-top: 0.25em; /* optional: adds a little space above the error text */
    }
  
    label{
      display: block;
      font-weight: bold;
     }