<!-- <form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign up</h2>
    <hr>
    <div class="mb-3 form-floating">
        <input type="text" class="form-control" name="username" [(ngModel)]="model.username" placeholder="Username"
            required>
        <label>Username</label>
    </div>

    <div class="mb-3 form-floating">
        <input type="text" class="form-control" name="name" [(ngModel)]="model.name" placeholder="Name" required>
        <label>Name</label>
    </div>

    <div class="mb-3 form-floating">
        <input type="email" class="form-control" name="email" [(ngModel)]="model.email" placeholder="Email" required>
        <label>Email</label>
    </div>

    <div class="mb-3 form-floating">
        <input type="password" class="form-control" name="password" [(ngModel)]="model.password" placeholder="Password"
            required>
        <label>Password</label>
    </div>

    @if (model.role !== 'Student') {
    <div class="mb-3 form-floating">
        <textarea class="form-control" name="biography" [(ngModel)]="model.biography" placeholder="Biography"
            rows="3"></textarea>
        <label>Biography</label>
    </div>
    }
    <div class="mb-3 form-floating">
        <select class="form-control" name="role" [(ngModel)]="model.role" required>
            @for (role of roles; track $index) {
            <option [value]="role">{{ role }}</option>
            }
        </select>
        <label>Role</label>
    </div>

    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
        </li>
    </ul>

    <div class="form-group text-center">
        <button class="btn btn-success me-2" type="submit">Register</button>
    </div>
</form> -->
<div class="main">
    <section class="signup mt-1">
        <div class="container">
            <div class="signup-content pt-3">
                <form #loginForm="ngForm" (ngSubmit)="register()" id="signup-form" class="signup-form pt-0">
                    <h2 class="form-title">Sign Up</h2>
                    <div class="form-group">
                        <input type="text" class="form-input" name="username" [(ngModel)]="model.username" placeholder="Username" required />
                        <div *ngIf="loginForm.submitted && loginForm.controls['username']?.invalid" class="error-message text-danger mt-2 ms-1">
                            Username is required.
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-input" name="email" [(ngModel)]="model.email" placeholder="Email" required email />
                        <div *ngIf="loginForm.submitted && loginForm.controls['email']?.invalid" class="error-message text-danger mt-2 ms-1">
                            A valid email is required.
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-input" name="password" [(ngModel)]="model.password" placeholder="Password" required #password="ngModel" [ngModelOptions]="{updateOn: 'blur'}" (ngModelChange)="password.control.setErrors(validatePassword(password.control))" />
                        <div *ngIf="loginForm.submitted && password.errors" class="error-message text-danger mt-2 ms-1">
                            <div *ngIf="password.errors['required']">Password is required.</div>
                            <div *ngIf="password.errors['passwordStrength']">
                                Password must be 6-12 characters long, with at least one digit, one uppercase letter, and one lowercase letter.
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-input" name="name" [(ngModel)]="model.name" placeholder="Name" required />
                        <div *ngIf="loginForm.submitted && loginForm.controls['name']?.invalid" class="error-message text-danger mt-2 ms-1">
                            Name is required.
                        </div>
                    </div>

                    <div class="form-group" *ngIf="model.role !== 'Student'">
                        <input type="text" class="form-input" name="biography" [(ngModel)]="model.biography" placeholder="Biography" required />
                    </div>

                    <div class="mb-3 form-floating">
                        <select class="form-control" name="role" [(ngModel)]="model.role" required>
                            @for (role of roles; track $index) {
                            <option [value]="role">{{ role }}</option>
                            }
                        </select>
                        <label>Role</label>
                    </div>

                    <div class="form-group">
                        <input type="submit" name="submit" id="submit" class="form-submit" value="Sign Up" [disabled]="!loginForm.dirty" />
                    </div>
                </form>
                <p class="loginhere mt-2">
                    Have an account already? <a routerLink="/login" routerLinkActive="router-link-active" class="loginhere-link">Log IN</a>
                </p>
            </div>
        </div>
    </section>
</div>
