<div class="container">


    @if (accountService.currentUser()) {

    <div>
        Welcome {{accountService.currentUser()?.username}}
    </div>
    }

    @if (!accountService.currentUser()) {
    <form #loginForm="ngForm" (ngSubmit)="login()" class="d-flex" autocomplete="off">
        <input name="usernameOrEmail" 
        [(ngModel)]="model.emailOrUsername" 
        class="form-control me-2" placeholder="Username or Email">
        <input name="password" 
        [(ngModel)]="model.password" class="form-control me-2" placeholder="Password"
            type="password">
        <button class="btn btn-success" type="submit">Login</button>
    </form>
    }


</div>