<!-- 
<div class="container">


    @if (accountService.currentUser()) {

    <div>
        Welcome {{accountService.currentUser()?.username}}
    </div>
    }

    @if (!accountService.currentUser()) {
    <form #loginForm="ngForm" (ngSubmit)="login()" class="d-flex" autocomplete="off">
        <input name="usernameOrEmail" 
        [(ngModel)]="model.emailOrUsername" 
        class="form-control me-2" placeholder="Username or Email">
        <input name="password" 
        [(ngModel)]="model.password" class="form-control me-2" placeholder="Password"
            type="password">
        <button class="btn btn-success" type="submit">Login</button>
    </form>
    }


</div> -->

<div class="main">
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <form #loginForm="ngForm" (ngSubmit)="login()" id="signup-form" class="signup-form">
                    <h2 class="form-title">Login</h2>
                    <div class="form-group">
                        <input type="text" class="form-input" name="usernameOrEmail" [(ngModel)]="model.emailOrUsername"
                            id="email" placeholder="Email or Username" required />
                        @if(loginForm.submitted && loginForm.controls['usernameOrEmail'].invalid){

                        <div class="error-message text-danger mt-2 ms-1">
                            Email or Username is required.
                        </div>
                        }
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-input" name="password" [(ngModel)]="model.password"
                            id="password" placeholder="Password" required />
                        @if (loginForm.submitted && loginForm.controls['password'].invalid) {
                        <div class="error-message text-danger mt-2 ms-1">
                            Password is required.
                        </div>
                        }
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" id="submit" class="form-submit" value="Log In"
                            [disabled]="loginForm.invalid && loginForm.submitted" />
                    </div>
                </form>
                <p class="loginhere">
                    Do not have an account yet? <a routerLink="/register" routerLinkActive="router-link-active"
                        class="loginhere-link">SignUp here</a>
                </p>
            </div>
        </div>
    </section>
</div>