.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
}

.course-header {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  background-color: blue;
 
}
.course-header h1{
  padding: 10px;
  font-weight: bold;
  color: #fff;
}
.course-layout {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.course-video {
  flex: 1;
  max-width: 800px;
}

.course-details {
  flex: 1;
  margin-left: 20px;
}

.video-player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  margin-top: 40px;
  font-size: 18px;
  color: black;
}

.module-title {
  color: red;
  font-weight: bold;
}

.lesson-name {
  list-style: none;
  margin-bottom: 10px;
  font-size: 17px;
  color: black;
}

.lesson-name a {
  margin-left: 10px;
  text-decoration: none;
  color: blue;
}

.lesson-name a:hover {
  text-decoration: underline;
}
